# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Cache
node_modules/.cache/

# gh-pages cache repo
node_modules/.cache/gh-pages/
